</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <div class="footer-content">
    <p>Amebo blog Copyright ©2025</p>
    
  </div>
  <div class="footer-content2">
    <p>Contact: 0702495040</p>
    <div class="blogForm-container">
      <a class="blogForm-button" href="/blogForm">Add Post</a> 
    </div>
  </div>
  
</footer>
</body>

</html>