<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <title>Blog Website</title>
</head>
<header>
  <div class="top-bar">
    <div class="logo-img" class="header-items">
      <img src="images/tnw.png" alt="img">
    </div>
    <nav class="nav-bar" class="header-items">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/about">about us</a></li>
      <li class="nav-item"><a href="/contact">Contact us</a></li>   
    </nav>
      <div class="blogForm-container">
        <a class="blogForm-button" href="/blogForm">Add Post</a>
      </div>  
  </div>
    

</header>
<body>
  <main>